
/* google fonts */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {

    --body-bg: #E1E1E1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, 
body {
    height: 100%;
    width: 100%;
    font-family: "Open Sans", sans-serif;
}

.wrapper {
    height: 100dvh;
    width: 100dvw;
    position: relative;
    background-color: var(--body-bg);
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    border: 1px solid blue;
}