
.card {
    min-width: 450px;
    max-width: 450px;
    padding: 2rem;
    background-color: var(--card-light-bg);
    border-radius: 3rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.user_handel {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile_info {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.profile_image {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.profile_image img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.user_name {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.user_name h3 {
    font-size: 1rem;
    font-weight: 700;
    color: var(--text-dark);
}

.user_name p {
    font-size: 0.85rem;
    font-weight: 500;
    color: var(--primary-light);
}

.close_icon i {
    font-size: 1.5rem;
    color: var(--text-dark);
}

.post_content {
    width: 100%;
    margin-top: 1.5rem;
}

.post_content textarea {
    min-width: 100%;
    max-width: 100%;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    border: none;
    border-bottom: 2px solid var(--border);
    outline: none;
    font-size: 1rem;
    resize: none;
    overflow: hidden;
}

.post_content textarea::placeholder {
    font-size: 0.95rem;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
    color: var(--secondary-light);
    letter-spacing: 0;
}

.cta_section {
    width: 100%;
    display: flex;
    align-items: center;

}

.icons_container {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.icons_container i {
    font-size: 1.5rem;
    color: var(--primary-light);
}

.publish_btn {
    padding: 0.5rem 0.8rem;
    border: none;
    border-radius: 1rem;
    background-color: var(--text-dark);
    color: var(--card-light-bg);
    font-size: 0.8rem;
    letter-spacing: 0.8px;
}




