
/* google font */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


/* Colors */

:root {
  --primary-color: #FFFFFF;
  --hero-bg-color: #DBDAD6;
  --light-color: #EEEE;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* ul,
li, a {
  text-decoration: none;
  list-style: none;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
}

.main-wrapper {
  height: 100%;
  width: 100%;
  padding: 1rem 2rem;
  background-color: var(--primary-color);
}

nav {
  width: 100%;
}

.nav-bar {
  width: 100%;
  padding: 0.8rem 1rem;
  border: 3px solid var(--light-color);
  border-radius: 0.9rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo p{
  font-size: 1.2rem;
  font-weight: 800;
  line-height: 1.1rem;
  letter-spacing: 0.1px;
}

.menu ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.menu ul li {
  font-size: 0.8rem;
  font-weight: 700;
  cursor: pointer;
}

.search_media {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.search-bar {
  width: 120px;
  padding: 0.5rem 1rem 0.5rem 0.8rem;
  background-color: var(--light-color);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.search_media .search-bar i {
  font-size: 0.9rem;
}

.search-bar p {
  font-size: 0.8rem;
  color: #bbb;
}

.search-bar input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
}

.search_media i {
  font-size: 1.2rem;
  cursor: pointer;
}

.hero {
  min-height: 100dvh;
  max-height: auto;
  width: 100%;
  margin-top: 1rem;
  display: flex;
  gap: 0.4rem;
}

.hero_left {
  min-height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.hero_title_box {
  padding: 2.5rem 3rem;
  background-color: var(--hero-bg-color);
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

.top h1 {
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 3.6rem;
  letter-spacing: 3.5px;
}

.bottom p {
  font-size: 0.9rem;
}

.box_wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.box_1 {
  background-image: url(https://plus.unsplash.com/premium_photo-1757459446832-63f3903f05c7?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
}

.box_2 {
  background-image: url(https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nzh8fHBlcnNvbnxlbnwwfHwwfHx8MA%3D%3D);
  background-size: cover;
  background-position: center;
}

.box {
  height: 200px;
  width: 100%;
  padding: 1.5rem;
  border-radius: 1.5rem;
  display: flex;
  align-items: last baseline;
}

.box h2 {
  font-size: 1.5rem;
  color: var(--primary-color);
}

.hero_right {
  min-height: 100%;
  width: 50%;
  padding: 2rem;
  border-radius: 1.5rem;
  background-image: url(https://images.unsplash.com/photo-1529139574466-a303027c1d8b?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fGZhc2hpb24lMjBtb2RlbHxlbnwwfHwwfHx8MA%3D%3D);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: last baseline;
}

.right_wrapper_box {
  width: 100%;
  display: flex;
  justify-content: end;
  gap: 0.5rem;
}

.option {
  padding: 0.2rem;
  padding-inline-start: 1.2rem;
  border-radius: 4rem;
  display: flex;
  align-items: center;
  gap: 4rem;
}

.option p {
  font-size: 0.78rem;
  font-weight: 600;
}

.option_1 {
  background-color: var(--primary-color);
}

.option_2 {
  border: 1.5px solid var(--primary-color);
  background: transparent;
}

.option_2 p {
  color: var(--primary-color);
}

.option_2 .ctr_btn {
  background-color: var(--primary-color);
}

.option_2 .ctr_btn i {
  color: black;
}

.ctr_btn {
  padding: 0.2rem 0.3rem;
  border-radius: 50%;
  background-color: black;
}

.ctr_btn i {
  color: var(--primary-color);
}


@media (width < 830px) {

  .menu {
    display: none;
    pointer-events: none;
  }

  .search-bar {
    width: 100%;
    padding: 0;
    background-color: transparent;
  }

  .search_media .search-bar i {
    font-size: 1.2rem;
  }

  .search-bar input {
    display: none;
    pointer-events: none;
  }
}

