
.inner-card {
    height: 54%;
    width: 100%;
    padding: 0.6rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.08);
}

.price-section {
    width: 100%;
    padding: 0.5rem;
    background-color: #EEEEEE;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}

.tag {
    width: 100%;
}

.tag button {
    padding: 0.3rem 0.6rem;
    color: #040404;
    font-size: 0.65rem;
    font-weight: 550;
    background-color: #FFF;
    border-radius: 1rem;
    border: none;
}

.price {
    width: 100%;
}

.price h1 {
    font-size: 1.4rem;
    font-weight: 600;
    color: #040404;
}

.price h1 span {
    font-size: 0.8rem;
    font-weight: 500;
    color: #040404;
}

.detail-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}

.detail-section p {
    font-size: 0.76rem;
    font-weight: 500;
    padding: 0px 5px;
    color: #040404;
}

.detail-section button {
    padding: 0.6rem;
    font-size: 0.72rem;
    font-weight: 500;
    border: none;
    background-color: #1A1A1A;
    color: #fff;
    border-radius: 2rem;
}