
/* Pricing-card-ui/src/index.css */

/* google fonts Link */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background: #F4F4F4;
}