
.card {
    /* width: 260px;
    height: 320px; */
    padding: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--primary-light);
    /* border: 1px solid blue; */
    border-radius: 1.5rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.cover_image {
    min-width: 280px;
    max-width: 280px;
    height: 120px;
    position: relative;
    /* border: 1px solid var(--gray-200); */
    background-image: url(https://plus.unsplash.com/premium_photo-1701842913472-3e57eb04836d?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NTd8fGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D);
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
}

.profile_photo {
    height: 75px;
    width: 75px;
    position: absolute;
    bottom: -2rem;
    left: 1rem;
    border-radius: 50%;
    border: 3px solid var(--primary-light);
    overflow: hidden;
}

.profile_photo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.user_handel {
    width: 100%;
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.user_info {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.user_info h2 {
    font-size: 1.2rem;
    color: var(--text-dark);
}

.user_info p {
    font-size: 0.8rem;
    color: var(--gray-100);
}

.status {
    padding: 0.2rem 0.5rem;
    background-color: var(--secondary-light);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
}

.indecator {
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
    background-color: rgb(50, 234, 50);
}

.status p {
    font-size: 0.9rem;
    color: var(--gray-100);
}

.user_exp {
    width: 100%;
    padding: 0.4rem 0.8rem;
    margin-top: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--secondary-light);
    border-radius: 0.8rem;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box h2 {
    font-size: 1.4rem;
    font-weight: 800;
    color: var(--text-dark);
}

.box p {
    font-size: 0.9rem;
    color: var(--gray-100);
}

.cta_section {
    width: 100%;
    margin-top: 1.2rem;
}

.btn {
    width: 100%;
    padding: 0.6rem 1rem;
    font-size: 0.85rem;
    font-weight: 600;
    border: none;
    background-color: var(--primary-dark);
    color: var(--text-light);
    border-radius: 2rem;
    letter-spacing: 1.5px;
}

