
/* google fonts */

@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, li, a {
  text-decoration: none;
  list-style: none;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Oxygen", sans-serif;
}