
/* google fonts */

@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');


:root {
  --main-bg: #FFFFFF;
  --text-white: #FFFFFF;
  --text-dark : #020202;
  --text-light : #9c9c9c;
  --text-lighter: #eee;
  --button-bg : #0F0F0F;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, li, a {
  text-decoration: none;
  list-style: none;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Oxygen", sans-serif;
}

.main_wrapper {
  height: 100vh;
  width: 100vw;
  background-color: var(--main-bg);
}

.signin_wrapper {
  height: 100%;
  width: 100%;
  padding: 1.5rem 15rem;
}

.container {
  height:  100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
}

.left_wrapper {
  height: 100%;
  width: 53%;
  padding: 1.5rem 4rem;
}

.text_content {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
}

.header {
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.logo {
  width: 100%;
  display: flex;
  justify-content: center;
}

img {
  height: 30px;
  width: 30px;
}

.text_section {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.text_section h1 {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 0.3rem;
}

.text_section p {
  font-size: 0.68rem;
  color: var(--text-light);
}

.signin_with {
  width: 100%;
  padding-bottom: 1.5rem;
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.btn {
  padding: 0.4rem 0.8rem;
  border: 1.5px solid var(--text-lighter);
  border-radius: 2rem;
  background-color: var(--main-bg);
  display: flex;
  align-items: center;
  gap: 0.6rem;
  cursor: pointer;
  transition: border 0.2s ease;
}

.btn:active {
  border: 1.5px solid var(--text-light);
}

.btn img {
  height: 13px;
  width: 11px;
}

.btn p {
  font-size: 0.65rem;
  font-weight: 600;
  color: var(--text-dark);
}

.or {
  width: 100%;
}

.line {
  height: 1.3px;
  width: 100%;
  position: relative;
  background-color: #ebebeb;
  border-radius: 1rem;
}

.line span {
  font-size: 0.7rem;
  font-weight: 600;
  padding: 0.18rem 1.4rem;
  background-color: var(--main-bg);
  color: var(--text-light);
  position: absolute;
  top: -900%;
  left: 42%;
}

.form_section {
  width: 100%;
  padding-top: 1.5rem;
}

form {
  width: 100%;
  margin-bottom: 1.4rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

input {
  font-size: 0.7rem;
  font-weight: 600;
  padding: 0.6rem 1rem;
  border: 1.5px solid var(--text-lighter);
  border-radius: 0.6rem;
  outline: none;
  transition: border 0.2s ease;
}

input:focus {
  border: 1.5px solid var(--text-light);
}

button {
  padding: 0.6rem 1rem;
  font-size: 0.7rem;
  letter-spacing: 0.8px;
  color: var(--main-bg);
  background-color: var(--button-bg);
  border: none;
  border-radius: 2rem;
  cursor: pointer;
}

.form_section p {
  font-size: 0.7rem;
  color: var(--text-light);
}

.form_section p a {
  font-weight: 600;
  color: var(--text-dark);
  margin-left: 0.5rem;
  text-decoration: underline;
  cursor: pointer;
}

.form_section p a:hover {
  color: blue;
}

.bottom_section
 {
  width: 100%;
 }

 .menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
 }

 .opt {
  padding: 0.1rem 0.8rem;
 }

 .opt p {
  font-size: 0.68rem;
  font-weight: 600;
  color: var(--text-light);
  cursor: pointer;
 }

 .opt p:hover {
  color: var(--text-dark)
 }

 .home {
  border-right: 2px solid var(--text-lighter);
 }

 .term {
  border-right: 2px solid var(--text-lighter);
 }

.right_wrapper {
  height: 100%;
  width: 47%;
  background-image: url(./assets/Form\ UI\ Recreation\ Hero.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}



